beautifulsoup4
dingtalk_stream
edge-tts
flask
homeassistant_api
keyboard
lark_oapi
lxml
markdown
mdtopptx
nvidia-ml-py
openai
opencv-python
openpyxl
paho-mqtt
pandas
pillow
ping3
psutil
pyautogui
pyaudio
pycaw
pygame
python-pptx
pyttsx3
qq-botpy
qrcode
sherpa_onnx
soundfile
zai-sdk
openvino==2025.4.1
pyside6==6.8.0
rapidocr_openvino==1.3.25